messages-service/node_modules
messages-service/ecosystem.config.js

pos-portal-service/node_modules
pos-portal-service/ecosystem.config.js

pos-restaurant/server/node_modules
pos-restaurant/server/ecosystem.config.js

*lib*

config.json
cashier.properties
socket_config.properties
